<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta property="og:title" content="Ascii-Art-Web">
    <link rel="stylesheet" href="../static/style.css">
    <title>Ascii-Art-Web</title>
    <meta property="og:image" content="https://github.com/marioscordia/ascii-art-web">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Micro+5&display=swap" rel="stylesheet">
</head>
<body class="bg-primary text-primary bg-pan-bottom">
    <div class="container">
        <main>
            <img src="../static/404 error with a landscape-rafiki.svg" alt="404 Error" class="error-image" width="1000" height="300">
        </main>
        <footer>
            <h3>Made with Go + HTML/CSS</h3>
            <p>GET / • POST /ascii-art</p>
            <p>Made by Anas,Ismail,Omneya and Amr</p>
        </footer>
    </div>
</body>
</html>
